<template>
  <div class="about-page">
    <div v-if="!loading" class="column about-us  pa0">
      <div  class="columns col-10 col-mx-auto col-lg-12 col-xl-11 " id="contact-us">
        <div class="column col-12 contact-us">
          <div class="columns contact-us-box ">
            <div class="col-12 col-mx-auto column contact-us-items">
              <div class="columns" dir="rtl">
                <div class="f-title fon black text-bold">
                  ارتباط با ما
                </div>
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12  column mb-2">
                  <div class="map-responsive" style="width: 100% ; height: 300px">
                    <iframe :src="information.address_link" width="100%" height="300" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </div>
                </div>
             <!--   <div class="mt-2">
                  <div class="f-title fon black text-bold">
                    تصاویر
                  </div>
                  <div class="columns">
                    <div class="column col-2 col-md-3 col-sm-6 col-xs-6" v-for="(image, i) in image" :key="image.id">
                      <img class="gallery-page-image" :src="image.src" :key="i" @click="show(i)">
                    </div>
                  </div>
                </div>-->
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12  column ">
                  <div class="column col-12">
                    <div class="columns about-us-box ">
                      <div class="col-12 column about-us-items">
                        <div class="column text-center col-mx-auto contact-us-title fon"
                             style="margin-bottom: 65px">درباره ما
                        </div>
                        <div class="about-us-sub-title">
                          {{information.description}}
                        </div>


                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="loadings">
      <img src="../assets/img/loading.gif" alt="" style="width: 150px">
    </div>
    <!--<div class="column pa0 call-us">
      <div class=" col-10 col-mx-auto col-lg-12 col-xl-11 "  dir="rtl">
        <div class="col-12 col-md-12 col-xs-12 col-mx-auto  column">
          <div id="contact-us-more" class="columns col-12 col-mx-auto contact-us-more">
            <div class="column contact-us-more">
              <div class="columns">
                <div class="column col-8 col-sm-12">
                  <div class="columns address">
                    <div class="column col-12 ad-title black ">
                      <span class="mdi mdi-phone ml-2 black"></span>
                      <a v-if="information.phone.length > 2" class="router black"
                         :href="information.phone_link" dir="ltr">
                        {{information.phone}}
                      </a>
                      <span v-if="information.mobile.length > 2"
                            class="mr-2 ml-2 black"> - </span>
                      <a v-if="information.mobile.length > 2" class="router black"
                         :href="information.mobile_link" dir="ltr">
                        {{information.mobile}}
                      </a>
                      <span v-if="information.fax.length > 2"
                            class="mr-2 ml-2 black "> - </span>
                      <a class="router black" :href="information.mobile_link" dir="ltr">
                        {{information.fax}}
                      </a>
                    </div>
                  </div>
                  <div class="address columns ">
                    <div class="column col-12 ad-title black">
                      <span class="mdi mdi-map-marker ml-2"></span>
                      <a class="router sub-ro text-bold" :href="information.address_link" dir="ltr">
                        {{information.address}}
                      </a>

                    </div>



                  </div>
                </div>
                <div class="column col-4 col-sm-12">
                  <div class="address columns">
                    <div class="column col-12 ad-title black">
                      <span class="mdi mdi-clock-outline ml-2"></span>
                        {{information.time}}
                    </div>
                  </div>
                  <div class="address columns ">
                    <div class="column col-12 ad-title black ">
                      <a class=" black ml-2" :href="information.instagram" v-if="information.instagram.length > 2" >
                        <span class="mdi mdi-instagram "></span>
                      </a>
                      <a class="black ml-2" :href="information.whatsapp" v-if="information.whatsapp.length > 2">
                        <span class="mdi mdi-whatsapp "></span>
                      </a>
                      <a class="black ml-2" :href="information.telegram" v-if="information.telegram.length > 2" >
                        <span class="mdi mdi-telegram "></span>
                      </a>
                      <a class="black ml-2" :href="information.email_link" v-if="information.email.length > 2" >
                        <span class="mdi mdi-email "></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>




            </div>


          </div>
        </div>
      </div>
    </div>-->

  </div>
</template>
<script>

  export default {
    name: 'About',
    metaInfo() {
      return {
        title: 'درباره ما | ' + this.information.title,
      }
    },
    props: {
      msg: String
    },

    data(){
      return{
        loading:true
      }
    },
    created(){
      this.init()
    },
    computed:{
      information(){
        return this.$store.getters.getInfo
      },
      images(){
        return this.$store.state.images
      }
    },


    methods:{
      openSubMenu(){

      },
      init(){
        setTimeout(()=>{
          this.loading =false
        },1000)
      },
      show(v) {
        this.$refs.lb.showImage(v)
      },
      setFooter(status){
        this.footerMode = status
      }

    }
  }
</script>
