<template>
  <div class="gallery-page mb-2">
    <div v-if="!loading" class="col-10 col-mx-auto col-lg-12 col-xl-11 column" dir="rtl">
      <div class="product-page-title pt-2 mb-50 pr-2 mt-2 text-center">

        <div style="margin-top: 150px">
          رزرو وقت
        </div>
        <div style="font-size: 14px ; margin-top: 30px;margin-bottom: 50px ">
         <div class="mb-6">
           <v-card >
             <v-date-picker color="red" v-model="date" locale="fa" full-width :first-day-of-week="-1">

             </v-date-picker>
             <div>
               انتخاب تاریخ
             </div>

           </v-card>
         </div>
          <div class="d-flex align-center justify-center " style="flex-wrap: wrap ; gap: 10px">

            <div class="col-2 column" style="; border: 1px solid black; border-radius: 5px" v-for="time in getList()" :key="time.start_time">
              <span class="d-flex align-center justify-center" style="height: 40px">
                {{ time.start_time }} - {{time.status}}
              </span>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div v-else class="loadings">
      <img src="../assets/img/loading.gif" alt="" style="width: 150px">
    </div>
  </div>
</template>

<script>


export default {

  name: 'Appointment',
  components:{

  },

  created() {
    this.loading = false

    this.init()
  },
  mounted() {
    console.log(this.$refs['datepicker'].visible = true)
  },

  data() {
    return {
      times: [],
      freeTimes: [],
      date:'',
      phoneStep: true,
      passwordStep: false,
      otpStep: false,
      checkPasswordType: false,
      checkPhoneLoading: false,
      sendCodeLoading: false,
      sendParamsLoading: false,
      errorPhone: '',
      errorParams: '',
      hasPasswordSet: true,
      loading: true,
      sendCodeBtn: 'ارسال کد',
      loginType: 'password',
      index: null,
      errorText: '',
      phone: '',
      password: '',
      verify_password: '',
      otp: '',
      items: [],
      current: 1,
      hasItems: false,
      pages: {
        prev: 0,
        hasNext: false,
        hasPrev: false,
        current: 1,
        next: 2,
        total: 1,
      }
    }
  },
  methods: {


    async sendParams() {


      this.errorParams = ''
      this.sendParamsLoading = true

      try {
        await this.$api.updateUser(localStorage.getItem('id'), this.password)

        this.errorParams = 'رمز عبور با موفقیت تغییر یافت'
      } catch (err) {
        this.errorParams = err.response.data.message
      }
      this.sendParamsLoading = false
    },
    init() {

      this.$api.getTimes().then(response => {
        this.times = response.data.data
      }).catch(error => {
        console.log('e', error)
      }).finally(() => {
        this.loading = false
      })

    },
    getAvailableTimes(date){
      this.$api.availableTimes(date).then(response => {
        this.freeTimes = response.data.data


      }).catch(error => {
        console.log('e', error)
      }).finally(() => {
        this.loading = false
      })
    },
    getList(){
      return this.times.map(slot => {
        const isAvailable = this.freeTimes.some(
            available =>
                available.start_time === slot.start_time &&
                available.end_time === slot.end_time
        );
        return {
          ...slot,
          status: isAvailable ? "active" : "inactive"
        };
      });
    }
  },
  computed: {},
  watch: {
    date(value){
      this.getAvailableTimes(value)
    },
    password(value) {

      if (value.length > 0) {
        if (value === this.verify_password) {
          this.errorParams = ''
          return
        }
        if (value.length < 6) {
          this.errorParams = 'رمز عبور نمیتواند کمتر از 6 کاراکتر باشد'
          return;
        }
        this.errorParams = 'رمز عبور با هم همخوانی ندارد'
        return;
      }
      this.errorParams = 'رمز عبور نباید خالی باشد'
    },
    verify_password(value) {

      if (value.length > 0) {
        if (value === this.password) {
          this.errorParams = ''
          return
        }
        this.errorParams = 'رمز عبور با هم همخوانی ندارد'
        return;
      }
      this.errorParams = 'رمز عبور نباید خالی باشد'
    },
  }


}
</script>
