<template>
  <div class="about-page">
    <div v-if="!loading">
      <div class="column about-us  pa0">
        <div  class="columns col-10 col-mx-auto col-lg-12 col-xl-11 " id="contact-us">
          <div class="column col-12 contact-us">
            <div class="columns contact-us-box ">
              <div class="col-12 col-mx-auto column contact-us-items">
                <div class="columns" dir="rtl">
                  <div class="f-title fon black text-bold">
                    گالری
                  </div>
                  <div class="mt-2">
                    <div class="columns">
                      <div class="column col-2 col-md-3 col-sm-6 col-xs-6" v-for="(image, i) in images" :key="image.id">
                        <img class="gallery-page-image" :src="image.src" :key="i" @click="show(i)" alt="image">
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <LightBox ref="lb" :showLightBox="false" :showCaption="false"
                :media="images"></LightBox>
    </div>

    <div v-else class="loadings">
      <img src="../assets/img/loading.gif" alt="" style="width: 150px">
    </div>
  </div>
</template>
<script>
  import LightBox from 'vue-image-lightbox'
  export default {
    name: 'Gallery',
    metaInfo() {
      return {
        title: 'گالری | ' + this.information.title,
      }
    },
    props: {
      msg: String
    },
    components: {
      LightBox,
    },
    data(){
      return{
        loading:true,
      }
    },
    created(){
      this.init()
    },
    computed:{
      information(){
        return this.$store.getters.getInfo
      },
      images(){
        return this.$store.state.images
      }
    },


    methods:{
      openSubMenu(){

      },
      init(){
        setTimeout(()=>{
          this.loading = false
        } , 1000)
      },
      show(v) {
        this.$refs.lb.showImage(v)
      },


    }
  }
</script>
