<template>
    <div>
        <div v-if="!loading">
            <div class="home">
                <div class="main-slider-container" v-if="hasSlider">

                    <div v-for="item in sliderItems" :key="item.id" class="slides fade" ref="main-slider" >
                        <div >
                            <img :src="item.images[0].src" class="slider-img" alt="image">
                            <div class="text-slider">

                                <div class="slide-text">
                                    <div>
                                        <div class="slider-title text-shadow">
                                            {{item.title}}
                                        </div>
                                        <div class="slider-subtitle text-shadow">
                                            {{item.subtitle}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                    <a class="prev-slider" @click="plusSlides(-1)">&#10094;</a>
                    <a class="next-slider" @click="plusSlides(1)">&#10095;</a>
                    <div style="text-align:center" class="main-slider-pagination">
                        <span ref="main-slider-pointer" v-for="(item,index) in sliderItems" :key="item.id"  class="dot-slider" @click="currentSlide(index , 'main')"></span>
                    </div>
                </div>


                <div class="column pa0">
                    <div class="columns col-10 col-mx-auto col-lg-12 col-xl-11 " id="feature">
                        <div class="column features-box">
                            <div class="col-12 feature col-mx-auto columns col-mx-auto text-center" dir="rtl">
                                <div class="f-title text-center col-12 fon">
                                    خدمات
                                </div>
                                <div v-for="item in serviceItems" :key="item.id"
                                     class="f-sec-1 column col-lg-6 col-md-12 col-xl-4 col-4" >
                                    <div v-if="hasService" class="column col-12  feature-box">
                                        <router-link :to="{name:'Service' , params:{id:item.id}}" class="router black">
                                            <div class="f-back">
                                                <div class="f-box-img">
                                                    <img v-if="item.images.length > 0"  :src="item.images[0].src" alt="">
                                                    <img v-else  src="../assets/img/image/logo.png" alt="">
                                                </div>
                                                <div class="f-box-content">
                                                    <div class="f-box-content-t  text-view">
                                                        {{item.title}}
                                                    </div>
                                                </div>
                                            </div>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column img-back paralex text-color" >
                    <div class="col-10 col-mx-auto col-lg-12 col-xl-11 column " style="z-index: 1 ; position: relative">
                        <div class="columns  what-is-box col-mx-auto" dir="rtl">
                            <div class="column col-6 col-md-12 col-sm-12 col-xl-6 col-mx-auto col-lg-6 what-is-lg">
                                <div class="col-12 col-lg-12 col-mx-auto column what-is-1 text-center fon text-color text-shadow" dir="rtl">
                                    مرکز مشاوره پرواز
                                </div>
                                <div class="col-12 col-lg-12 col-mx-auto column text-justify what-is-2 ">
                                    <div class="col-12 col-mx-auto text-shadow " dir="rtl">
                                        {{information.description.slice(0,700)}}
                                    </div>
                                </div>
                            </div>
                            <div class="column col-6 col-md-12 col-sm-12 col-xl-6 col-mx-auto col-lg-6 what-is-lg">
                                <div class="col-12 col-lg-12 col-mx-auto column text-center" dir="rtl">
                                    <div class="column col-11 col-mx-auto">
                                        <img class="person-img" src="../assets/img/person.png" alt="">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!--<div class="column pa0 section-two">
                    <div class="col-10 col-mx-auto col-lg-12 col-xl-11 column " id="what-is">
                        <div class="columns  what-is-box col-mx-auto" dir="rtl">
                            <div class="column col-12 col-mx-auto col-lg-12 what-is-lg">
                                <div class="col-12 col-lg-12 col-mx-auto column what-is-1 text-center fon" dir="rtl">
                                    دکتر الهام سلیمی
                                </div>
                                <div class="col-12 col-lg-12 col-mx-auto column text-justify what-is-2">
                                    <div class="col-12 col-mx-auto" dir="rtl">
                                        {{information.about_us}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>-->

                <!-- <div class="column pa0 section-two" >
                   <div class="col-10 col-mx-auto col-lg-12 col-xl-11 column " >
                     <div class="columns  what-is-box col-mx-auto" dir="rtl">
                       <div class="column col-12 col-mx-auto col-lg-12 what-is-lg">
                         <div class="col-12 col-lg-12 col-mx-auto column what-is-1 text-center fon" dir="rtl">
                          همکاران
                         </div>
                         <div class="col-12 col-lg-12 col-mx-auto column text-justify what-is-2">
                           <div class="col-12 col-mx-auto" dir="rtl">
                             لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>

                 </div>-->

                <div class="column pa0">
                    <div class="columns col-10 col-mx-auto col-lg-12 col-xl-11 " dir="rtl">
                        <div class="end-news f-title fon text-bold black  column col-12 text-center mb-2">
                            آخرین مطالب
                        </div>
                        <div class="column col-12 mb-2">
                            <div class="columns col-12">
                                <div v-for="item in postItems" :key="item.id"
                                     class="column col-4 col-lg-4 col-md-6 col-xl-4 col-sm-10 col-xs-12" >
                                    <PostView v-if="hasPost"  :context="item" :type="'News'"></PostView>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

              <!--  <div class="column img-back2 paralex text-color" >
                    <div class="col-10 col-mx-auto col-lg-12 col-xl-11 column " style="z-index: 1 ; position: relative">
                        <div class="comment-slider-container">

                            <div v-for="i in 1" :key="i" class="slides fade" ref="comment-slider" >
                                <div class="text-slider">

                                    <div class="comment-slide-text">
                                        <div>
                                            <div class="comment-slider-title text-shadow">
                                                نظرات کاربران
                                            </div>
                                            <div class="comment-slider-subtitle text-shadow">
                                                کاربر
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div style="text-align:center" class="comment-slider-pagination">
                                <span ref="comment-slider-pointer" v-for="i in 1" :key="i"  class="dot-slider" @click="currentSlide(i , 'comment')"></span>
                            </div>
                        </div>
                    </div>

                </div>-->
               <!-- <div class="column text-color col-mx-auto " >
                    <div class="columns col-mx-auto">
                        <div class="col-6 col-mx-auto col-lg-6 col-md-12 col-sm-12 col-xs-12 column">
                            <div class="column text-center col-mx-auto contact-us-title fon main-color ">با ما درارتباط باشید
                            </div>
                            <form action="" onsubmit="return false">
                                <div class="column col-12 col-mx-auto contact-us-item">
                                    <div class="column col-12 input-item">
                                        <input id="name" v-model="name" type="text" placeholder="نام و نام خانوادگی *"
                                               style="width: 100%" name="name">
                                    </div>
                                    <div class="column col-12 input-item">
                                        <input  v-model="email" type="tel" placeholder="ایمیل *"
                                                style="width: 100%">
                                    </div>
                                    <div class="column col-12 input-item">
                                        <input id="phone_input" v-model="phone" type="tel" placeholder="شماره همراه *"
                                               style="width: 100%"
                                               name="mobile">
                                    </div>
                                    <div class="column col-12 input-item">
                                        <select v-model="select" id="type" type="tel" placeholder="انتخاب دیدگاه *">
                                            <option value="null"> دیدگاه خود را انتخاب فرمایید</option>
                                            <option value="ارسال دیدگاه"> ارسال دیدگاه</option>
                                            <option value="ارتباط با دکتر">ارتباط با دکتر</option>
                                        </select>
                                    </div>

                                    <div class="column col-12 input-item">
                            <textarea id="text_input" v-model="message" type="text" placeholder="پیام شما * " name="text"
                                      style="min-width: 100% ; max-width: 100% ; max-height: 100px ; min-height: 100px"></textarea>
                                    </div>
                                    <div class="column col-12 col-md-6 col-mx-auto input-item text-center">
                                        <button class="btn main-btn" @click="sendData" :disabled="send_btn">
                                            {{btn_text}}
                                        </button>
                                    </div>
                                    <div class="column col-12 col-md-6 col-mx-auto input-item text-center">
                                        <input class="no-input" v-model="errorText" v-text="errorText">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>-->


                <div id="error" class="d-hide">
                    <div class="column col-12 ">
                        <div class="columns ">
                            <div class="col-8 col-lg-10 col-md-12 col-mx-auto column ">
                                <div class="column error">
                                    <div class="col-10 column col-mx-auto">
                                        <div class="error-box">
                                            <div class="float-right error-text">
                                            </div>
                                            <div class="close-error">
                                                x
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="success" class="d-hide">
                    <div class="column col-12 ">
                        <div class="columns ">
                            <div class="col-8 col-lg-10 col-md-12 col-mx-auto column ">
                                <div class="column">
                                    <div class="col-10 column col-mx-auto">
                                        <div class="success-box">
                                            <div class="float-right">
                                                پیام شما با موفقیت ارسال شد
                                            </div>
                                            <div class="close-success">
                                                x
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div v-else class="loadings">
            <img src="../assets/img/loading.gif" alt="" style="width: 150px">
        </div>
    </div>

</template>

<script>

    import PostView from "../components/PostView";

    export default {
        name: 'Home',
        components: {
            PostView
        },
        metaInfo() {
            return {
                title: 'خانه | دکتر الهام سلیمی',
            }
        },
        data() {
            return {
                btn_text:'ارسال',
                errorPhone: false,
                errorEmail: false,
                loading:true,
                errorText: '',
                name: '',
                message: '',
                email: '',
                phone: '',
                select: null,
                send_btn:false,
                mainSlideIndex:1,
                commentSlideIndex:1,
                hasPost: false,
                hasService: false,
                hasSlider: false,
                postItems: [],
                sliderItems: [],
                serviceItems: [],
                swiperOptionMain: {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    loop: true,
                    pagination: {
                        el: '#swiper-pagination-main',
                        clickable: true
                    },
                    navigation: {
                        nextEl: '#swiper-button-next-main',
                        prevEl: '#swiper-button-prev-main'
                    }
                },
                swiperOptionComment: {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    loop: true,
                    pagination: {
                        el: '#swiper-pagination-comment',
                        clickable: true
                    },
                    navigation: {
                        nextEl: '#swiper-button-next-comment',
                        prevEl: '#swiper-button-prev-comment'
                    }
                },
            }
        },
        created() {
            this.init()


        },
        computed: {
            information() {
                return this.$store.getters.getInfo
            },
        },
        watch: {
            phone (value) {

                if (value.length > 0) {

                    let m = /^(\+98|98|0098|0)?(9\d{2})(\d{7})$/.exec(value)
                    if (!m) {
                        this.errorText = 'شماره وارد شده صحیح نمی باشد'
                        this.errorPhone = true
                    }else{
                        this.errorPhone = false
                        this.errorText =''
                    }
                }else {
                    this.errorPhone = false
                    this.errorText =''
                }
            },
            email (value) {
                if (value.length > 0) {
                    let m = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.exec(value)
                    if (!m) {
                        this.errorText = 'ایمیل وارد شده اشتباه است'
                        this.errorEmail = true
                    }else {
                        this.errorEmail = false
                        this.errorText =''
                    }
                } else {
                    this.errorEmail = false
                    this.errorText =''
                }
            },
        },
        methods: {
            init() {


                this.$api.getInformation().then(response => {

                    this.serviceItems = response.data.data.service_items
                    this.sliderItems = response.data.data.slider_items
                    this.postItems = response.data.data.blog_items.slice(0,3)

                       setTimeout(()=>{
                           response.data.data.blog_items.length > 0 ? this.hasPost = true : this.hasPost = false
                           response.data.data.service_items.length > 0 ? this.hasService = true : this.hasService = false
                           response.data.data.slider_items.length > 0 ? this.hasSlider = true : this.hasSlider = false
                           this.showMainSlides(1);
                           this.showCommentSlides(1);
                       },50)





                })
                    .catch(error => {
                        console.log('e', error)
                    }).finally(() => {
                        this.loading =false
                })

            },
            sendData() {
                if(this.noError()){

                    this.sendParams()
                }
            },
            sendParams() {
                this.send_btn  = true
                this.btn_text  = 'در حال ارسال'
                let input = {
                    name:this.name,
                    message:this.message,
                    email:this.email,
                    phone:this.phone,
                    select:this.select,
                }

                this.$api.support(input).then(()=>{
                    this.errorText = 'پیام شما با موفقیت ارسال شد'
                    this.btn_text  = 'ارسال'
                    this.send_btn  = false
                    this.phone = ''
                    this.email = ''
                    this.name = ''
                    this.select = null
                    this.message = ''
                }).catch(()=>{
                    this.btn_text  = 'ارسال'
                    this.send_btn  = false
                    this.errorText = 'پیام شما با موفقیت ارسال نشد'
                }).finally(()=>{
                    setTimeout(() => {
                        this.errorText = ''
                    }, 3000)
                })
            },
            noError() {
                if (this.errorPhone) {
                    this.errorText = 'شماره وارد شده صحیح نمی باشد'
                    return false
                }
                if (this.errorEmail) {
                    this.errorText = 'ایمیل وارد شده اشتباه است'
                    return false
                }
                if (!this.name) {
                    this.errorText = 'وارد کردن نام الزامی است'
                    return false
                }
                if (!this.email) {
                    this.errorText = 'وارد کردن ایمیل الزامی است'
                    return false
                }
                if (!this.phone) {
                    this.errorText = 'وارد کردن شماره الزامی است'
                    return false
                }
                if (!this.select) {
                    this.errorText = 'انتخاب موضوع الزامی است'
                    return false
                }
                if (!this.message) {
                    this.errorText = 'وارد کردن پیام الزامی است'
                    return false
                }
                return true
            },

            plusSlides(index){
                this.showMainSlides(this.mainSlideIndex += index);
            } ,
            currentSlide(index , type){
                if(type==='main'){
                    this.showMainSlides(this.mainSlideIndex = index);
                }else{
                    this.showCommentSlides(this.commentSlideIndex = index);
                }


            },
            showMainSlides(index ){
                let i;

                setTimeout(()=>{
                    let slides = this.$refs['main-slider']
                    let dots = this.$refs["main-slider-pointer"];
                    if (index > slides.length) {this.mainSlideIndex = 1}
                    if (index < 1) {this.mainSlideIndex = slides.length}
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active-slider", "");
                    }
                    slides[this.mainSlideIndex-1].style.display = "block";
                    dots[this.mainSlideIndex-1].className += " active-slider";
                },50)


            },
            showCommentSlides(index ){
                setTimeout(()=>{
                    let i;
                    let slides = this.$refs["comment-slider"];
                    let dots = this.$refs["comment-slider-pointer"];
                    if (index > slides.length) {this.commentSlideIndex = 1}
                    if (index < 1) {this.commentSlideIndex = slides.length}
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active-slider", "");
                    }
                    slides[this.commentSlideIndex-1].style.display = "block";
                    dots[this.commentSlideIndex-1].className += " active-slider";
                },50)

            },
        }

    }
</script>
