<template>
  <div class="gallery-page mb-2">
      <div v-if="!loading" class="col-10 col-mx-auto col-lg-12 col-xl-11 column" dir="rtl">
          <div class="product-page-title pt-2 mb-50 pr-2">
           بلاگ
          </div>
       <div class="columns">
           <div class="column col-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-2" v-for="item in this.items" :key="item.id">
               <PostView :context="item" :type="'News'"></PostView>
           </div>
       </div>
          <div class="columns col-12 col-mx-auto">
              <div class="col-6 col-sm-12 col-md-12 col-xs-12 col-xl-6 col-lg-6 column col-mx-auto" >
                  <div class="d-flex justify-center align-center" dir="ltr" v-if="pages.total > 1">

                      <div  v-if="pages.hasPrev" class="mr-2 text-center pagination-item"  @click="nextToPage(Number(pages.current) - 1 )">
                          <span class="mdi mdi-chevron-left"></span>
                      </div>
                      <div v-if="pages.hasPrev" class="mr-2 text-center pagination-item" @click="nextToPage(pages.prev)" >
                          {{pages.prev}}
                      </div>
                      <div class="mr-2 text-center pagination-item main-text-color" @click="nextToPage(this.current)"  >
                          {{pages.current}}
                      </div>
                      <div v-if="pages.hasNext" class="mr-2 text-center pagination-item" @click="nextToPage(pages.next)" >
                          {{pages.next}}
                      </div>
                      <div v-if="pages.hasNext" class="text-center pagination-item" :class="{'no-click' : !pages.hasNext}" @click="nextToPage(Number(pages.current) + 1)">
                          <span class="mdi mdi-chevron-right"></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div v-else class="loadings">
          <img src="../assets/img/loading.gif" alt="" style="width: 150px">
      </div>
   </div>
</template>

<script>


import PostView from '../components/PostView'

export default {
    metaInfo() {
        return {
            title: 'اخبار | ' + this.information.title,
        }
    },
  name: 'News',
    components: {
        PostView,

    },
    created(){
          this.init()
    },
  data(){
    return{
      index: null,
        loading:true,
        items:[],
        current:1,
        hasItems :false,
        pages:{
            prev: 0,
            hasNext:true,
            hasPrev:false,
            current: 1,
            next:2,
            total:0
        }
    }
  },
    methods:{

        init() {
            this.current = Number(this.$route.query.page) || 1
            this.$api.getPosts(this.current).then(response => {
                if(response.data.data.length > 0){
                  /*  this.pages.current = Number(response.data.meta.current)
                    this.pages.total = response.data.meta.total*/
                    this.hasItems = true
                    this.items = response.data.data

                   /* if(Number(response.data.meta.total) > Number(response.data.meta.current) ){
                        if(this.pages.current > 1){
                            this.pages.hasPrev = true
                            this.pages.prev = Number(this.pages.current) - 1
                            this.pages.hasNext = true
                            this.pages.next = Number(this.pages.current) +  1
                        }else{
                            this.pages.hasPrev = false
                            this.pages.prev = 0
                            this.pages.next =  Number(this.pages.current) +  1
                            this.pages.hasNext = true
                        }
                    }else{
                        if(Number(response.data.meta.current) > 1){
                            this.pages.hasPrev = true
                            this.pages.prev =  Number(response.data.meta.current) - 1
                        }else{
                            this.pages.hasPrev = false
                            this.pages.prev =  Number(response.data.meta.current)
                        }
                        this.pages.next =  Number(response.data.meta.current)
                        this.pages.hasNext = false
                    }*/
                }else{
                    this.hasItems = false
                    this.items = []
                    this.pages.hasPrev = false
                    this.pages.prev =  Number(response.data.meta.current)
                    this.pages.next =  Number(response.data.meta.current)
                    this.pages.hasNext = false
                }
            })
                .catch(error => {
                    console.log('e' , error)
                }).finally(() => {
                    this.loading = false
            })

        },
        nextToPage(page){
            if(page > 0){
                if(page !== this.current){
                    this.$router.push({name:'Blog' , query:{page:page}})
                }
            }
        }
    },
  computed:{

      information() {
          return this.$store.getters.getInfo
      },
  },
    watch:{
        '$route' () {
            this.init()
        }
    }

}
</script>
