<template>
    <div class="gallery-page" >
        <div v-if="!loading">
            <div class="breadcrumb-box paralex">
                <div class="col-10 col-mx-auto col-lg-10 col-xl-10 column h-100" dir="rtl">
                    <div class="align-center justify-center d-flex h-100">
                        <div class="text-center">
                            <div class="product-page-title text-color text-shadow">
                                {{service.title}}
                            </div>
                            <div class="breadcrumb-items ">
                                <span >
                                 <router-link class="router text-color text-shadow" :to="{name:'Home'}">
                                  خانه
                                </router-link>
                                </span>
                                <span class="ml-2 mr-2"> / </span>
                                <span >
                                <router-link class="router text-color text-shadow" :to="{name:'Services'}">
                              سرویس ها
                                </router-link>
                                </span>
                                <span class="ml-2 mr-2"> / </span>
                                <span class=" black">    {{service.title}} </span>
                            </div>
                        </div>



                    </div>


                </div>

            </div>
            <div  class="columns col-10 col-sm-12 col-md-12 col-mx-auto col-lg-10 col-xl-10" dir="rtl">
                <div class="col-8 col-md-12 col-sm-12 col-mx-auto col-lg-8 col-xl-8 column" >
                    <blog-view class="main-box-shadow pb-2" v-if="hasPost" :context="service" dir="rtl"></blog-view>
                </div>
                <div class="col-4 col-sm-12 col-mx-auto col-lg-4 col-xl-4 column " >
                    <div class="right-panel-title main-text-color pr-2 ">
                        به ما به پیوندید
                    </div>
                    <div class="right-panel-items">
                        <div class=" pr-2">
                            <a class="router ml-2 gray-color pr-2" :href="information.instagram"
                               v-if="information.instagram.length > 2">
                                <span class="mdi mdi-instagram  "></span>
                            </a>
                        </div>
                        <div class=" pr-2">
                            <a class="router ml-2 gray-color pr-2" :href="information.whatsapp_link"
                               v-if="information.whatsapp.length > 2">
                                <span class="mdi mdi-whatsapp  "></span>
                            </a>
                        </div>
                        <div class=" pr-2" >
                            <a class="router ml-2 gray-color pr-2" :href="information.telegram"
                               v-if="information.telegram.length > 2">
                                <span class="mdi mdi-telegram  "></span>
                            </a>
                        </div>
                        <div class=" pr-2">
                            <a class="router ml-2 gray-color pr-2" :href="information.email_link"
                               v-if="information.email.length > 2">
                                <span class="mdi mdi-email  "></span>
                            </a>
                        </div>
                    </div>
                    <div class="right-panel-title main-text-color pr-2">
                        پست های اخیر
                    </div>
                    <div class="right-panel-items pr-2">
                        <div v-for="item in postItems" :key="item.id" class="right-panel-item pr-2">
                            <router-link class="router black" :to="{name:'News' , params:{id:item.id}}">
                                {{item.title}}
                            </router-link>
                        </div>
                    </div>

                </div>




            </div>
        </div>


        <div v-else class="loadings">
            <img src="../assets/img/loading.gif" alt="" style="width: 150px">
        </div>

    </div>
</template>

<script>

    import BlogView from "../components/BlogView";
    export default {
        metaInfo() {
            return {
                title: this.service.title +' | ' + this.information.title   ,
            }
        },
        name: 'Service',
        components: {
            BlogView
        },
        created(){
            this.init()
        },
        data(){
            return{
                hasPost:false,
                loading:true,
                service:{},
                postItems:[]
            }
        },
        computed:{
            information(){
                return this.$store.getters.getInfo
            },
        },

        methods:{
            init() {
                this.$api.getService(this.$route.params.id).then(response => {
                    this.service = response.data.data
                    this.hasPost = true
                    this.$api.getPosts().then(response => {
                        this.postItems = response.data.data.slice(0, 3)
                        this.hasPost = true
                    })
                        .catch(error => {
                            console.log('e', error)
                        }).finally(() => {
                        this.loading = false
                    })
                })
                    .catch(error => {
                        console.log('e' , error)
                    }).finally(() => {

                })


            }
        },


    }
</script>
