<template>
    <div>

    </div>
</template>

<script>


    export default {
        metaInfo() {
            return {
                title: this.service.title +' | ' + this.information.title   ,
            }
        },
        name: 'Service',

        created(){
            this.init()
        },
        data(){
            return{

                hasPost:false,
                loading:true,
                service:{},
                postItems:[]
            }
        },
        computed:{
            information(){
                return this.$store.getters.getInfo
            },
        },

        methods:{
            init() {
                this.$api.getService(this.$route.params.id).then(response => {
                    this.service = response.data.data
                    this.hasPost = true
                    this.$api.getPosts().then(response => {
                        this.postItems = response.data.data.slice(0, 3)
                        this.hasPost = true
                    })
                        .catch(error => {
                            console.log('e', error)
                        }).finally(() => {
                        this.loading = false
                    })
                })
                    .catch(error => {
                        console.log('e' , error)
                    }).finally(() => {

                })


            }
        },


    }
</script>
