@import "~spectre.css"
@import "aos.css"
@import "~@mdi/font/css/materialdesignicons.css"
@import "~vue-image-lightbox/dist/vue-image-lightbox.min.css"


$main-color = #91d0cc
$second-color = #d9be93
$third-color = #090b0e
$text-color = white
$main-text-color = $main-color
$subText-color = #787878
$text-shadow = 2px 2px 2px black;
$white-color = white;
$black-color = black;

.text-shadow {
  text-shadow $text-shadow
}

a:active, a:focus, a:checked,a:focus {
  outline: 0!important;
  border: none!important;
  -moz-outline-style: none!important;
}
@mixin box-shadow($property) {
  -webkit-box-shadow: $property
  -moz-box-shadow: $property
  box-shadow:$property
}

.main-box-shadow {
  -webkit-box-shadow: 0 0 9px -1px rgba(0, 0, 0, 0.15) !important
  -moz-box-shadow: 0 0 9px -1px rgba(0, 0, 0, 0.15) !important
  box-shadow: 0 0 9px -1px rgba(0, 0, 0, 0.15) !important
}


.align-center {
  align-items center
}

.font-large {
  font-size 2.5em
}

@font-face {
  font-family: Iransans;

  src: url("../assets/fonts/1.woff2");
  /* IE6-8 */
  url("../assets/fonts/1.woff2"); format('woff2');
}


*
  outline none !important

.t-c-button:active
  outline: none !important

  #a-mobile-2:active
    outline: none !important
    border none

#a-mobile-2:visited
  outline: none !important
  border none

#a-mobile-2:checked {
  outline: none !important
  border none
}

#a-mobile-2:focus
  outline: none !important
  border none

$top-bar-1_color = $main-color

$top-bar-2_color = #fad23e
a:focus
  outline: none !important

a:visited
  outline: none !important
  text-decoration none !important

a:checked
  outline: none !important

button:active
  outline: none !important

img:not([src])
  visibility: hidden;

#app {
  font-family Iransans !important
}

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}
.main-color {
  color: $main-color!important
}


#body
  font-family Iransans !important
  color black
  padding 0
  margin 0

.text-color {
  color $text-color!important
}


.top-bar-box
  .t-sec-1
    background-color $white-color!important
    color $black-color
    height 70px
    display flex
    align-items center
    justify-content center

.image-warranty
  max-width 350px
  text-align left

.image-phone
  margin-top 90px
  max-width 350px

.pa0 {
  padding 0
}

.what-is-2 {
  margin-top 60px
  margin-bottom 70px

}

.what-is-1 {
  margin-top 65px !important
  margin-bottom 20px
}

.acco-item
  margin-bottom 10px

.acco-header

  cursor pointer

  position relative
  font-size 13.5px
  color white
  z-index 40

.plus
  min-width 15px
  max-width 15px
  margin-left 10px

.box-item
  max-height 700px
  transition all .3s
  opacity 1
  overflow hidden

.acco-body
  font-size 13px
  padding-top 20px


.ma0 {
  margin 0
  margin-bottom 10px
}

#phone-5
  text-decoration none
  color black
  font-weight normal !important


.what-is-box
  .what-is-1
    margin-top 40px
    margin-bottom 20px
    font-weight bold
    font-size 20px
    color black

  .what-is-3
    margin-top 20px
    margin-bottom 20px

  .w-i-button
    color #8d7ff7
    font-size 18px
    font-weight bold
    border-radius 44px
    border none
    padding 10px 15px
    border-bottom 2px solid #d1cbf8
    text-align center
    background-color #f8f8f8
    box-shadow none
    cursor pointer

  a
    color #8d7ff7
    text-decoration none
    font-size 18px

  a:hover
    color #8d7ff7
    text-decoration none
    font-size 18px

  .what-is-4
    padding 0

    .w-i-img-box
      img
        width 100%

#feature

  margin-top -1px

.features-box
  padding-bottom 120px


  .feature
    .f-title
      margin-top 30px
      margin-bottom 20px
      font-weight bold
      font-size 20px
      color black

    .f-sec-1
      .feature-box
        .f-back
        .f-box-img

          margin-top 20px

        img
          max-width 70px
          width 70px


        .f-box-content
          .f-box-content-t
            margin-top 15px
            font-size: 14px
            direction rtl

          .f-box-content-s
            font-size 13px
            direction rtl
            padding-left 5px
            padding-right 5px

    .f-sec-3
      .feature-box
        .f-back
        .f-box-img
          height 70px
          margin-top 20px

        img
          max-width 70px
          object-fit: cover;

        .f-box-content
          .f-box-content-t
            margin-top 15px
            font-size: 19px
            font-weight bold
            direction rtl

          .f-box-content-s
            font-size 14px
            direction rtl
            padding-left 5px
            padding-right 5px

#description
  .description-box
    position relative

    .desc-list
      .desc-list-box
        direction rtl

      .desc-items
        list-style none
        margin-bottom 20px

      .desc
        .desc-image
          float: right;

          margin-right 10px
          text-align: center;
          width: 40px;

        img
          width 20px

        .desc-text
          overflow hidden
          color: #3489ff;
          font-weight: bold;
          font-size: 14px;
          line-height: 2;
          text-align: right;

      .d-desc-img
        img
          width 50%

    .card-warranty-box
      margin-top 40px

  .gold-warranty
    .gold-title
      margin-top 20px
      margin-bottom 20px
      font-weight bold
      font-size 20px
      color #2bad55

    .gold-text
      margin-bottom 20px
      font-size 16px
      line-height 1.7
      color black
      word-spacing -1px
      letter-spacing -0.1px

.description-top
  position relative
  margin-top -50px
  margin-bottom 50px

.d-warranty
  position absolute
  top 40px
  right 30px
  color white
  text-align right


.logo-bord
  border-top 1px solid #bebebe;
  margin-bottom 15px


.logos

  margin-top -8px
  min-height 300px

.logos-box

  padding-top 10px
  padding-bottom 10px

.logos-title
  margin-bottom 20px
  font-size 22px
  font-weight 600
  color #34394d


.representation
  background #f1f1f1e6

.representation-sub-title

  font-size 15px
  text-align center
  direction rtl
  margin-bottom 10px
  letter-spacing -0.5px

.representation-sub-title-phone
  font-size 17px
  text-align center
  direction ltr
  margin-bottom 10px
  letter-spacing -0.5px
  font-weight bold

#phone-3
  color black
  text-decoration none

.quotation
  color: #8173ee;
  font-size: 25px

.r
  padding-right 5px
  top 0.3em !important


.l
  padding-left 5px
  top 0.1em !important


.representation-title
  margin-top 20px
  font-size 20px
  color #34394d
  font-weight bold
  text-align center
  direction rtl
  margin-bottom 20px

#ucan
  min-width 50px !important
  max-width 50px !important
  padding-left 5px

.en
  font-family sans-serif
  font-weight 300

#specifications
  .specifications
    padding-bottom 40px

    .specifications-box
      .specifications-items
        padding 0 !important

      .specifications-title
        text-align: center;
        padding: 25px 0 0 0;
        font-size: 22px;
        font-weight bold
        color black
        margin-bottom 30px

      .specifications-item
        direction rtl

      .pro-title
        padding: 10px 10px;
        background-color: #e6e7e9;
        text-align: right;
        text-indent: 15px;
        font-weight: bold;

      .pro-text
        padding: 5px 10px;
        text-align: right;
        overflow hidden
        background-color: transparent;

      .br
        margin-left 10px

      .en
        font-family sans-serif
        font-weight 400
        padding 0px 2px


      .pro-text-t
        padding: 5px 10px;
        text-align: right;
        margin: 5px 0;
        overflow hidden

      .br
        margin-left 10px

      .pro-text-tt
        padding: 5px 10px;
        text-align: right;
        margin: 5px 0;
        overflow hidden
        display block

      .br
        display inline
        margin-left 10px


.pro-tit

  .tit

    margin: 5px 0px 0px 5px;
    padding: 7px;
    background-color: #fafafa;
    text-align: right;
    text-indent: 15px;
    font-weight: bold;


.pro-tex
  padding 0

.tit2
  margin: 5px 0px 0px 0px;
  padding: 7px;
  background-color: #fafafa;
  text-align: right;
  text-indent: 15px;
  font-weight: bold;


.footerSticky {
  position: relative;
  bottom: -3px;
  width: 100%;
  display: block;
  z-index: 1024;
  text-align: center;
  background-color: #2bad55;
  border-top: 1px solid #1b7738;
}


.phone_number
  direction ltr

a
  text-decoration none

#phone-1, #phone-1:active, #phone-1:hover, #phone-1:focus
  color black
  text-decoration none

#mobile-3, #mobile-3:active, #mobile-3:hover, #mobile-3:focus
  color black
  text-decoration none
  cursor: pointer;
  display block
  overflow hidden


#question
  .question


  .question-box
    .question-items

      padding-bottom 40px

    .question-title
      text-align: center;
      font-size: 24px;
      font-weight bold
      color black
      margin-bottom 25px
      margin-top 25px

    .qu
      .qu-p
        .question-item
          border 1px solid white
          border-radius 12px
          margin-top 10px
          margin-bottom 10px
          color white
          overflow hidden
          direction rtl

        .question-header
          display: flex;
          justify-content: space-between;
          padding: 1em;
          font-weight: 400;
          font-size: 14px;
          cursor: pointer;
          background: transparent;
          border-bottom: none;

        .question-body
          margin-bottom 0
          background: rgba(3, 201, 247, .39);
          color: #fff;
          transition: all .35s;
          font-size: 14px;
          text-align: right;
          direction: rtl;

          .question-body-text
            padding 10px


input:checked + .question-header
  background: #635cb9 !important
  border-bottom: 2px solid #fff !important

.question-header::after
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .35s;

input:checked + .question-header::after
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);


.header-sticky {
  padding: 10px 0;
  background: #2bad55;
  color: white;
  display: block;
}

#footer1
  .footer1
    background #34394d
    color white
    min-height 60px

    .footer1-items
      margin-top 17px
      padding-bottom 17px
      direction rtl

    .footer1-item
      .footer1-item-1
        margin-bottom 10px
        letter-spacing -0.5px

      span
        color #837ef9
        font-weight bold


#a-mobile-1
  color: white;
  display: block;
  width: 100%
  text-decoration none

span.ph::before
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  line-height: 25px;
  top 10px

  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -35px;

.btn-call::before
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  line-height: 25px;
  right 10px
  top 12px
  padding-left 15px

  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;

#footer3
  .footer3
    background #2bad55
    color white
    min-height 44px
    bottom 14px
    left 0
    right 0
    padding 0
    padding-bottom 10px
    z-index: 2;
    position fixed

  .footer3-items
    margin-top 10px !important

  .footer3-item
    position relative

  a
    color white
    cursor pointer
    text-decoration none

    .footer3-item-2
      margin-bottom 7px

.footer3-item-1
  span:

  :before
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    line-height: 25px;
    top 0

    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -30px;

.f-t-b
  margin-bottom 5px

.bold
  color: #8c7ef9;
  font-weight: bold;

.f-t-t
  margin-top: 10px;
  margin-bottom: 10px;

.ph
  font-weight bold
  font-size 18px

.zoomit
  margin-bottom 0 !important

.clock-box
  display flex
  justify-content center
  align-content center
  align-items center

.bottom-call
  font-size 22px
  font-weight bold
  padding-bottom 5px

#call
  background-color: #4c4e65 !important;

.call
  background: #4c4e65;
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 406px;
  border-radius 5px

.call-box
  .call-items
    padding-bottom 20px

    .call-title
      font-size: 18px;
      font-weight: 500;
      margin-bottom 20px

.sep {
  height: 2px;
  width: 80%;
  margin: 3% auto;
  background-color: #43445c
}


.a {
  overflow: hidden;
  border-radius: 50px;
  position: relative;
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg)
}

.a:before,
.a:after {
  content: '';
  width: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px
}

.a:before {
  height: 50px;
  float: left;
  border: 1px solid #3e3580;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  background-color: #f2f1f6
}

.a:after {
  position: absolute;
  left: 10px;
  top: -9px;
  height: 70px;
  box-shadow: 1px 0 0 0 #7b6ce9, 110px 0 0 68px #8173ee;
  background: none;
  z-index: 1
}

.b {
  width: 180px;
  height: 52px;
  background: none;
  margin-left: 0;
  border: 1px solid #8173ee;
  border-left: none;
  float: left;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  line-height: 52px
}

.readys {
  margin-top 20px
}

.b span {
  color: #fff;
  z-index: 9999;
  position: relative;
  display: inline-block;
  transform: rotate(180deg);
  text-align: center;
  direction: ltr
}

.home-icon:before {


}

.ready-l {
  width 50%
  text-align left

}

.ready-r {
  width 50%
  text-align right
}

.ready-l-r {
  width 50%
  text-align left

}

.ready-title-r {
  font-size 14px
  color #151629

}

.ready-l-p {
  width 47%
  text-align left
  color red
  font-weight 600
  font-size 19px
}

.ready-r-p {
  width 53%
  text-align right
  font-weight 600
  font-size 16px

}

.ready-l-g {
  width 90%
  text-align left
  font-size 12px
}

.ready-r-g {
  width 10%
  text-align right

}

.ready-l-r {
  width 70%
  text-align left
  font-size 12px
}

.ready-r-r {
  width 30%
  text-align right

}

.mobile-icon:before {

  background-size: 15px
}

.stars {
  padding-top 15px !important
  direction rtl
  font-size 14px
  border-bottom 1px solid rgba(45, 45, 45, 0.33)
  padding-left 2px
  height 50px

}

.stars span::before
  content: "";
  display: block;

  width: 75px;
  height: 25px;
  float: right;
  background-size: contain;
  margin-left: 8px;
  line-height: 16px;
  margin-top: 2px;

.stars p {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width 98%
}

.stars span {
  line-height: 16px;

}

.warranty-info
  direction rtl
  font-size 14px
  border-bottom 1px solid gray
  width 98%

.warranty-info span::before
  content: "";
  display: block;

  width: 25px;
  height: 25px;
  float: right;
  background-size: contain;
  margin-left: 8px;
  line-height: 25px;
  margin-top: -3px;

.warranty-info p {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 25px;
}

.warranty-info span {
  line-height: 16px;

}

#client
  .client
    .client-box
      padding-top 40px

    .client-items
      padding 0
      position relative
      margin-bottom 20px

    .client-title
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      padding: 0 0 20px 0;
      margin-top: 0px;
      margin-bottom: 0;
      position: absolute;
      top: -30px;
      z-index: 999;
      left: 0;
      right: 0;

#download
  margin-top -10px

.download
  .download-box
    .download-items
      padding 0
      position relative

    .download-img
      max-height 500px

    img
      width 100%

    .dl-btn
      text-align center
      position absolute
      top 120px
      left 0
      right 0

    .cafe
      margin-bottom 10px

    img
      width 100%

    .google
      img
        width 100%

.loade
  max-height 500px
  object-fit cover


#offer
  margin-top 20px

.offer

  .offer-box
    .offer-items
      margin-top 10px
      margin-bottom 10px

      .offer-style

        width 100%
        background-color: #fff;
        border-radius: 10px;
        position: relative

        .offer-img
          position relative
          margin-top 20px

        .offer-text
          position absolute
          top 5px
          left 0
          right 0
          color white

        img
          width 100%

        .car-max
          margin-top 40px
          margin-bottom 40px

        img
          width 100%


.price li {
  padding: 18px 0;
  border-bottom: 1px solid #f7f3f3
}

.offer-style-b {
  display flex
  justify-content center
  align-items center
  min-height 406px
}

.offer-style-box {
  width 100%
}

.top-bar-items
  .item
    float: right;
    margin-left: 20px

  a
    color white
    text-decoration none

.top-bar-items2
  .item
    margin-bottom 20px
    margin-right 10px

  a
    color white
    text-decoration none

.p-title {
  width: 50%;
  display: inline-block
}

.p-value {
  text-decoration: line-through;
  width: 50%;
  text-align: left;
  float: left
}

.p-value-off {
  display: inline-block;
  left: 0;
  position: relative;
  float: left;
  padding: 2px 20px;
  background-color: #e6e7e9;
  border-radius: 20px
}

.logos-box-img
  max-width 200px !important

.profit {
  color: #8476f1;
  display: inline-block;
  text-decoration: none
}

.price li:first-child {
  border-bottom: 0;
  line-height: 2
}

.ad-titles
  padding-right 15px
  font-size: 14px;
  font-weight: 600;
  border-right: 3px solid #2bad55;
  min-height: 34px;
  line-height: 34px;
  color black
  margin-bottom 40px

.price li:first-child span {
  width: 50%;
  display: inline-block;
  line-height: 22px
}

.ready {
  display flex
  width 90%
  margin 0 auto
  justify-content center
  align-content center
  align-items center
  height 70px
  border-bottom 1px solid rgba(51, 51, 51, 0.12)

  .ready-img {
    width 45px
  }
}

.ready2 {
  display flex
  width 90%
  margin 0 auto
  justify-content center
  align-content center
  align-items center
  height 70px

  .ready-img {
    width 45px
  }
}

.price li:first-child span:last-child {
  color: #ff2f47;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  float: left;
  text-align: left;
  line-height: 22px
}

.price {
  list-style: none;
  font-size: 14px;
  padding-right: 0;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0;
  width: 94%;
}


.about-us-sub-title
  text-align justify
  text-align-last right
  font-size 14px
  line-height 1.6
  padding-left 10px
  padding-right 10px

.about-us-title
  margin-top 20px
  margin-bottom 20px
  font-weight bold
  font-size 17px


.price2 {
  font-size 16px;
  font-weight bold
}

#landing:hover
  text-decoration none !important


.mobile_number, phone_number {
  direction ltr
}

.raychat_main_button
  margin-bottom 25px !important
  margin-right 10px !important
  width 45px !important
  height 45px !important


@media screen and (min-width: 396px) {
  .d-mobile {
    display block
  }

  .d-desktop {
    display none
  }

  .clock {
    margin-left 20px
  }

  .top-bar-box .t-sec-3 .t-offer {
    top -97px
    right 30px
  }

  .one {
    margin-top 80px

  }

  #call {
    margin-top 30px
  }

  .one2 {
    margin-top 40px

  }

  .image-warranty {
    margin-top 80px

  }

  .description-top-war {
    text-align right
  }


}


@media screen and (min-width: 962px) {
  .d-mobile {
    display none
  }

  .d-desktop {
    display flex
    align-items center
  }

  .loade {
    max-height 350px

  }

  .fon {
    font-size 30px !important
  }

  .f-title {
    margin-bottom 40px !important
  }

  #call {
    border-radius 10px
    -webkit-border-radius 10px
    -moz-border-radius 10px
    margin-bottom 9px
  }

  .client {
    padding-top 20px
  }

  .clock {
    margin-left: 25%;
  }

  .offer-img {
    max-width: 130px !important
  }

  .top-bar-box .t-sec-3 .t-offer {
    top -75px !important
    right: 25%;
  }

  .top-back-img {
    max-height 1100px !important
  }

  .t-c-text {
    font-size 35px !important
    margin-bottom 45px !important
  }
}

@media screen and (min-width: 1200px) {
  .d-mobile {
    display none
  }

  .d-desktop {
    display flex
    align-items center
  }


  .clock {
    margin-left: 30%;
  }

  .top-back-img {
    max-height 1200px !important
  }

  .offer-img {
    max-width: 130px !important
  }

  .t-c-text {
    font-size 38px !important
    margin-bottom 45px !important
  }


  .top-bar-box .t-sec-3 .t-offer {
    top -75px !important
    right: 30%;
  }
}

@media screen and (min-width: 1700px) {
  .d-mobile {
    display none
  }

  .d-desktop {
    display flex
    align-items center
  }

  .t-c-button-box {
    font-size 45px
  }

  .top-back-img {
    max-height 1550px !important
  }

  .top-content-box {
    bottom 3% !important
  }

}

@media screen and (min-width: 1500px) {
  .d-mobile {
    display none
  }

  .d-desktop {
    display flex
    align-items center
  }

  .t-c-button-box {
    font-size 40px
  }

  .top-back-img {
    max-height 1350px !important
  }
}

.radyab {
  color #34394d
}

@media screen and (max-width: 600px) and (min-width: 359px) {
  .d-mobile {
    display block
  }

  .d-desktop {
    display none
  }

  .offer-img {
    max-width: 125px !important
  }

  .t-c-button-box {
    font-size 25px !important
  }

  .call {
    height 300px
  }

  .t-c-button {
    margin-top 0 !important
  }


  .top-bar-box .t-sec-3 .t-offer {
    top -75px
    right 5px
  }

  .clock {
    margin-left 20px
  }

  .top-content-box {
    position absolute
    bottom 3% !important
    left 0
    right 0

  }


}

@media screen and (max-width: 962px) and (min-width: 750px) {
  .d-mobile {
    display none
  }

  .d-desktop {
    display flex
    align-items center
  }

  .top-back-img {
    max-height 1050px !important
  }

  .offer-img {
    max-width: 130px !important
  }

  .t-c-text {
    font-size 35px !important
    margin-bottom 45px !important
  }

  .top-content-box {
    position absolute
    bottom 3% !important
    left 0
    right 0

  }

  .call {
    height 300px
  }


}

@media screen and (max-width: 749px) and (min-width: 650px) {
  .d-mobile {
    display block
  }

  .d-desktop {
    display none
  }

  .top-bar-box .top-content .t-c-text {
    font-size 30px !important
    margin-bottom 45px !important
  }

  .call {
    height 300px
  }


}

@media screen and (max-width: 359px) {
  .d-mobile {
    display block
  }

  .d-desktop {
    display none
  }

  .offer-img {
    max-width: 110px !important
  }

  .call {
    height 300px
  }

  .t-c-button-box {
    font-size 20px !important
  }

  .t-c-button {
    margin-top 0 !important
  }

  .top-bar-box .top-content-box {
    bottom: 10px;
  }

  .top-bar-box .t-sec-3 .t-offer {
    top -66px
    right 5px
  }

  .top-content-box {
    position absolute
    bottom 2% !important
    left 0
    right 0

  }


  .clock {
    margin-left 20px
  }


}

@media screen and (max-width: 320px) {
  .d-mobile {
    display block
  }

  .d-desktop {
    display none
  }

  .t-c-button {
    min-width 90%
  }

  .call {
    height 300px
  }

  .t-c-button-box {
    font-size 15px !important
  }

  .t-c-button {
    margin-top 0 !important
  }

  .top-content-box {
    position absolute
    bottom 2% !important
    left 0
    right 0

  }


}

.pointer
  cursor pointer

.error-box
  position: fixed;
  bottom: 100px;
  left: 20px;
  right: 25px;
  background-color: rgba(255, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size 13px

.success-box
  position: fixed;
  bottom: 100px;
  left: 20px;
  right: 25px;
  background-color: rgba(1, 171, 25, 0.8);
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size 13px

.top-back-img {
  object-fit cover
}

#footer2 {
  position: fixed;
  width 100%
  bottom: 0px;
  z-index: 1025
  max-height 90px !important
}

.footer2 {
  background-color: #7d601e;
}

.footer-box-mobile
  display: flex
  justify-content: center
  align-content: center
  align-items: center
  padding-top: 10px
  padding-bottom: 10px


.foo-img
  width: 20px
  height: 20px
  margin-right: 8px

.close-error
  cursor pointer
  color white

.close-success
  cursor pointer
  color white


.dl-title {
  color: white;
  margin-top: -55px;
  margin-bottom: 55px;
  font-size: 24px;
  padding: 0;
  font-weight bold
}

.dl-title-box {
  margin-right 175px
}

.dl-img {
  max-width 300px !important
}


.hide {
  max-height 0 !important
  opacity 0 !important
}

.hide2 {
  border-radius 20px !important
  border-bottom-left-radius 0 !important
  border-bottom-right-radius 0 !important

}

#contact-us-more

  .contact-us-more
    padding-bottom 10px
    padding-top 10px
    direction rtl

  .address
    padding-right 10px
    margin-bottom 20px

  .ad-title
    padding-right 15px
    font-size: 14px;
    border-right: 3px solid #7d601e;
    min-height: 34px;
    line-height: 34px;
    color white

  .ad-subtitle
    padding-right 20px
    margin-top 5px
    margin-bottom 5px
    text-align right

  .ad-subtitle-no
    padding-right 20px
    margin-top 5px
    margin-bottom 5px
    text-align right


.contact-us-items
  margin-top 10px

.contact-us-title
  font-size: 16px;
  padding: 0;
  margin-bottom: 10px
  font-weight bold
  margin-top 40px
  color black

.contact-us-subtitle
  text-align: center;
  font-size: 16px;
  line-height: 2;
  font-weight: 500;
  color white
  margin-bottom 20px

.contact-us-item
  direction rtl
  padding 0 10px
  padding-bottom 10px

  .input-item
    input
      width: 100%;
      border none;
      box-shadow none;
      border-bottom: 1px solid #20232f;
      line-height: 2.5;
      text-align: right;
      text-indent: 10px;
      font-size: 16px;
      margin: 7px 0;

    textarea
      width: 100%;
      border none;
      box-shadow none;
      border-bottom: 1px solid #20232f;
      line-height: 2.5;
      text-align: right;
      text-indent: 10px;
      font-size: 16px;
      margin: 7px 0;

    select
      width: 100%;
      border none;
      box-shadow none;
      border-bottom: 1px solid #20232f;
      line-height: 2.5;
      text-align: right;
      text-indent: 10px;
      font-size: 16px;
      margin: 7px 0;
      height 45px


.bor
  border-bottom 1px solid #f2f2f2
  margin 1rem -0.4rem !important


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background $main-color;
  overflow-x: hidden;
  transition: 0.35s;
  padding-top: 20px;
}

.openMenu {
  width: 0;
}

.menu-background-black {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;

}

.d-none {
  display none
}

.btn-group a.btn {
  border none
  background transparent
  color white
  padding-top 0
  padding-bottom 0
  height 25px
}

.router {
  color white !important
  text-decoration none !important
}

.router:hover {
  text-decoration none !important
}

.sub-ro {
  color black !important
}

.custom-swiper {
  height 598px
}

.custom-swiper-slide {
  display flex
  justify-content center
  align-items center
}

.swiper-image-box {
  width 100%
  height 100%
}

.swiper-image-box img {
  width 100%
  height 100%
}

.top-bar-box {
  -webkit-box-shadow: 1px -1px 13px -2px rgba(189, 189, 189, 0.78);
  -moz-box-shadow: 1px -1px 13px -2px rgba(189, 189, 189, 0.78);
  box-shadow: 1px -1px 13px -2px rgba(189, 189, 189, 0.78);
  height 70px
  background $white-color
  position fixed
  left 0
  right 0
  top 0
  z-index 7
}

.home-page, .product-page, .about-page {
  min-height 80vh
}

.section-two {
  padding-bottom 20px
  margin-bottom 20px
}

.contact-us {
  padding-bottom 20px
  margin-bottom 20px
  border-bottom 1px solid lightgrey
}

.black {
  color black !important
}

.footer-box {
  margin-top 60px
  background-color: $third-color;
  padding 15px 0 0 0


}

.footer {
  padding 15px 0
}

.slider-text-box {
  position absolute
  left 0
  right 0
  top 40%
}

.slider-subtitle {
  color white
  font-size 1.5em

}

.slider-img {
  width 100%;
  height 578px
}

.slider-title {
  color white
  font-size 4em

}

.main-slider-title {
  color white
  font-size 5em

}

.comment-slider-title {
  color white
  font-size 3em

}

.comment-slider-subtitle {
  color white
  font-size 1em
  margin-top 0px

}

.product-page-title {
  font-size 25px
  font-weight 600

}

.pr-title {
  font-size 17px
  margin-top 25px


}

.pr-desc {
  margin-top 5px
  padding-right 10px
  margin-bottom 5px
  font-size 12px


}

.black-light {
  color #4f4f4f !important
  font-size 18px !important
}

.box {
  margin-top 10px
  margin-bottom 20px
  border 1px solid lightgrey
  border-radius 7px
  padding 0 40px !important
}

.product-page-image-box {
  margin-top 60px
  margin-bottom 80px
}

.mb-50 {
  margin-bottom 30px !important
}


.cus-dropdown {
  position: relative;
  display: inline-block;
  cursor pointer
}

.cus-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px 6px;
  z-index: 101;
  border-radius 5px
}

.cus-dropdown:hover .cus-dropdown-content {
  display: block;
}

.gallery-page-image {
  height 200px
  width 100%
  object-fit cover
  border 1px solid lightgrey
  border-radius 5px
  margin-bottom 7px
  cursor pointer
}

.sidenav-box {
  margin 10px
  padding 10px
  color white
}

.sidenav-menu-item {
  margin-bottom 10px
  cursor pointer
}

.sidenav-menu-sub-item {
  margin-bottom 10px
  cursor pointer
}

/* Style the buttons that are used to open and close the accordion panel */
.sidenav-accordion {
  transition: 1s;
  display flex
  justify-content space-between
  align-items center
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the accordion panel. Note: hidden by default */
.sidenav-accordion-sub-menu {
  padding: 0 18px;
  overflow: hidden;
}

.menu-icon {
  font-size 25px
  color white
}

.logo-icon {
  width 60px
  height 60px
}

.text-view {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.line-height {
  min-height 80px
}

.sidenav-title {
  color white
  margin-bottom 5px
  cursor pointer
  font-size 20px
  font-weight 600
  text-align center
}

.sidenav-subtitle {
  color white
  margin-bottom 30px
  cursor pointer
  font-size 14px
  text-align center
}

.sidenav-end-item {
  position absolute
  bottom 20px
  left 20px
  right 20px
}

.menu-icon-position {
  position absolute
  top 14px
  right 15px
  cursor pointer
  z-index 10
}

.menu-logo-position {
  position absolute
  top 14px
  left 15px
  cursor pointer
}

.swiper-image-box-comment img {
  width: 100px;
  height 100px
  border-radius 50%
  margin-top 20px
  margin-bottom 20px
}

.custom-swiper-comment {
  min-height 350px
}

.custom-swiper-slide-name {
  margin-top 20px
}

.site-title {
  font-size 20px
  margin-top -13px
}

.site-subtitle {

  font-size 10.5px
}

.mr-3 {
  margin-right 25px
}

.custom-card {
  margin-bottom 10px
  overflow hidden
  -webkit-box-shadow: 1px -1px 13px -2px rgba(189, 189, 189, 0.78);
  -moz-box-shadow: 1px -1px 13px -2px rgba(189, 189, 189, 0.78);
  box-shadow: 1px -1px 13px -2px rgba(189, 189, 189, 0.78);
}

.mr-4 {
  margin-right 20px
}

.ml-4 {
  margin-left 20px
}

.card-image img {
  max-height 170px
  height 170px
  width 100%
  object-fit cover
}

.blog-image {
  width: 100%;
  height: 360px;
  object-fit: cover
}

.social-icon {
  font-size 23px
  margin-right 12px
}


.main-slider-container {
  width 100%
  position: relative;
  margin: auto;
  height 578px;
}

.comment-slider-container {
  width 100%
  position: relative;
  margin: auto;
  height 300px;
}

/* Next & previous buttons */
.prev-slider, .next-slider {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next-slider {
  right: 30px;
  border-radius: 3px 0 0 3px;
}

.prev-slider {
  left: 30px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-slider :hover, .next-slider :hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text-slider {
  color: white;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  text-align: center;
}

.main-slider-pagination {
  position absolute
  left 0
  right 0
  bottom 35px
}

.comment-slider-pagination {
  position absolute
  left 0
  right 0
  top 35px
}

.slide-text, .comment-slide-text, .main-slide-text {
  display flex
  justify-content center
  align-items center
  height 100%
}

/* Number text (1/3 etc) */


/* The dots/bullets/indicators */
.dot-slider {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-slider, .dot-slider :hover {
  background-color: #717171;
  border 3px solid white
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev-slider, .next-slider, .text-slider {
    font-size: 11px
  }
}

.img-back {

  background url("../assets/img/texture.png")
}

.img-back:before {
  content ''
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background $main-color
  opacity 0.8
  z-index 0
}

.img-back2 {

  background url("../assets/img/texture.png")
}

.img-back2:before {
  content ''
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background $second-color
  opacity 0.8
  z-index 0
}

.paralex {
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: relative;
  margin 60px 0
}

.person-img {
  margin-top -60px
  margin-bottom -9px
  width 100%
}

.card-image {
  margin-bottom 25px !important
}

.main-btn {
  background $main-color
  border none
  color $text-color
  padding-right 35px
  padding-left 35px
}

.subtext-color {
  color $subText-color
}

.card-footer {
  margin-top 20px
  margin-bottom 30px
}

.card {
  border none !important

}

.justify-end {
  justify-content flex-end
}

.right-panel-box {
  border-right 1px solid $main-color
  padding-right 20px
}

.width100 {
  width 100%
  left 0
  right 0
}

.main-text-color {
  color: $main-color!important
}

.gray-color {
  color gray !important
}

.justify-center {
  justify-content center
}

.breadcrumb-box {
  background url("../assets/img/breadcrumbs.jpg")
  height 200px

}

.h-100 {
  height 100%
}

.breadcrumb-items {
  margin-top 10px

}

.right-panel-title {
  margin 10px 0
  font-size 20px
}

.prl-3 {
  padding 0 25px
}

.right-panel-item {
  display flex
  align-items center
  font-size 13px
  margin-bottom 10px
  color #313131
  border-bottom 1px solid lightgrey
  padding-bottom 10px
}

.font-small {
  font-size 13px
}

.pagination-item {
  min-width: 25px;
  height: 25px;
  padding 0 5px
  border: 1px solid lightgrey;
  border-radius 3px
  cursor pointer
}

.no-click{
  cursor not-allowed
  color gray
}
.no-input
  width: 100%;
  border none!important;
  box-shadow none;
  line-height: 2.5;
  text-align: right;
  text-indent: 10px;
  font-size: 16px;
  margin: 7px 0;


.loadings{
  display flex
  height 100vh
  width: 100%
  justify-content center
  align-items center
}
  .login_border{
    border 1px solid rgba(rgba(0, 0, 0, 0.35))
    border-radius 5px
    padding 30px 10px
    margin 50px auto
  }


.f-box-img
    height 150px

    img
      height 150px
      min-width 150px
      border-radius 50%
      object-fit cover
