<template>
  <div>
      <div v-if="loadData">
          <div  v-if="context.images[0].id" class="text-center"   >
              <img v-if="!newsPage" :src="context.images[0].src" class="" :alt="context.title" style="width: 120px ; max-height: 150px ; padding-top: 20px">
              <img v-else :src="context.images[0].src" class="img-responsive blog-image" :alt="context.title">
          </div>
          <div  v-else >
              <img src="../assets/img/image/logo.png" class="img-responsive blog-image" :alt="context.title" style="width: 100%">
          </div>
          <div  class="black prl-3 mt-2 " style="padding-top: 30px">
              <p class="text-justify" v-html="context.description"></p>
          </div>
          <div class="prl-3 mb-50 font-small">
              تاریخ انتشار :
              {{context.created_time | toJalaaliDate}}
              <!-- - نویسنده :
              <span v-if="context.authors">{{context.authors}}</span>-->
         <!--     <span v-else>{{information.title}}</span>-->
          </div>
      </div>






  </div>
</template>

<script>
export default {
  name: 'Blog',
    props: {
        context: Object
    },
    data(){
      return{
          newsPage:false,
          loadData:false

      }
    },
    created(){
        this.$route.name === 'News' ? this.newsPage = true : this.newsPage = false
        setTimeout(()=>{
            this.loadData = true
        } , 200)
    },
    computed:{
        information(){
            return this.$store.getters.getInfo
        },
    },
    methods:{
      init(){


      }
    }

}
</script>


<style scoped>

</style>
