<template>
    <div class="card custom-card">
        <div v-if="context.images.length" class="card-image">
            <img :src="context.images[0].src" class="img-responsive" :alt="context.title">
        </div>
        <div v-else class="card-image ">
            <img style="object-fit: cover"  src="../assets/img/image/logo.png" class="img-responsive" :alt="context.title">
        </div>
        <div class="card-body text-center ">
            <div class="card-subtitle main-color">{{context.created_time | toJalaaliDate}}</div>
        </div>
        <div class="card-header line-height">
            <div class="card-title h5 text-view text-center">{{context.title}} </div>
        </div>
        <!--<div class="text-center subtext-color">
            ____
        </div>

        <div class="card-body text-center subtext-color ">
            {{context.description.slice(0,25) + ' ...'}}

        </div>-->
        <div class="card-footer text-center">
            <router-link :to="{name:type , params:{id:context.id}}" class="router">
                <button class="btn main-btn " >بیشتر</button>
            </router-link>

        </div>
    </div>
</template>

<script>
export default {
  name: 'PostView',
    props: {
        context: Object,
        type:String,
    },
    data(){
      return{
      }
    },
    created(){
        this.init()
    },
    computed:{
        information(){
            return this.$store.getters.getInfo
        },
    },
    methods:{
      init(){

      }
    }

}
</script>


<style scoped>

</style>
