<template>
    <div id="app">
        <div v-if="!loading" class="pa0">
            <div class="top-bar-box pa0">
                <div class="columns col-12 col-mx-auto col-md-12 col-xs-12 col-lg-12 t-sec-1">
                    <div class="col-mx-auto col-12 col-lg-12 col-xl-12 columns">
                        <div class="col-2 column col-sm-2 col-lg-2 col-xl-2 col-md-2 col-xs-12 logo-box d-desktop justify-center ">
                                    <router-link class="router main-text-color" :to="{name:'Home'}">

                                        {{main_information.title}}
                                    </router-link>
                        </div>

                        <div class="col-8 column col-sm-8 col-lg-8 col-xl-8 col-md-8 col-xs-12 logo-box justify-center d-desktop">
                            <div class="d-flex" style="align-items: center" dir="rtl">
                                <div class="ml-4">
                                    <router-link class="router black" :to="{name:'Home'}">
                                        خانه
                                    </router-link>
                                </div>
                                <div class="ml-4 mr-4">
                                    <router-link class="router black" :to="{name:'Services'}">
                                        خدمات
                                    </router-link>
                                </div>
                                <div class="ml-4 mr-4">
                                    <router-link class="router black" :to="{name:'Blog'}">
                                        بلاگ
                                    </router-link>
                                </div>
                                <div class="ml-4 mr-4">
                                    <router-link class="router black" :to="{name:'Appointment'}">
                                        رزرو وقت
                                    </router-link>
                                </div>
                                <div class="ml-4 mr-4">
                                    <router-link class="router black" :to="{name:'Gallery'}">
                                        گالری
                                    </router-link>
                                </div>
                                <div class="ml-4 mr-4">
                                    <router-link class="router black" :to="{name:'About'}">

                                        ارتباط با ما
                                    </router-link>
                                </div>

                            </div>
                        </div>


                        <div class="col-2 column col-sm-2 col-lg-2 col-xl-2 col-md-2 col-xs-12 logo-box d-desktop justify-center">
                            <a class="router ml-2 gray-color" :href="main_information.instagram"
                               v-if="main_information.instagram.length > 2">
                                <span class="mdi mdi-instagram  "></span>
                            </a>
                            <a class="router ml-2 gray-color" :href="main_information.whatsapp_link"
                               v-if="main_information.whatsapp.length > 2">
                                <span class="mdi mdi-whatsapp  "></span>
                            </a>
                            <a class="router ml-2 gray-color" :href="main_information.telegram"
                               v-if="main_information.telegram.length > 2">
                                <span class="mdi mdi-telegram  "></span>
                            </a>
                            <a class="router ml-2 gray-color" :href="main_information.email_link"
                               v-if="main_information.email.length > 2">
                                <span class="mdi mdi-email  "></span>
                            </a>
                            <a class="router ml-2 gray-color" :href="main_information.facebook"
                               v-if="main_information.facebook.length > 2">
                                <span class="mdi mdi-facebook  "></span>
                            </a>
                            <a class="router ml-2 gray-color" :href="main_information.youtube"
                               v-if="main_information.youtube.length > 2">
                                <span class="mdi mdi-youtube  "></span>
                            </a>
                            <a class="router ml-2 gray-color" :href="main_information.aparat"
                               v-if="main_information.aparat.length > 2">
                                <span class="mdi mdi-telegram  "></span>
                            </a>
                        </div>

                        <div class="col-12 column d-mobile text-center">
                            {{main_information.title}}
                        </div>

                        <div @click="toggleRightMenu(0)" class="d-mobile menu-icon-position">
                            <span class="mdi mdi-menu menu-icon main-text-color "></span>
                        </div>
                    </div>
                </div>
            </div>
            <router-view style="margin-top: 70px"/>
            <div class="column pa0 footer-box">
                <div class="footer columns col-10 col-mx-auto col-md-12 col-xs-12 col-sm-12 col-lg-10 align-center  " id="footer1"
                     dir="rtl">
                    <div class="col-4 col-md-4 col-xs-12 col-mx-auto  column text-center">
                        <div class="columns">
                            <div class="column">
                                <router-link class="router text-shadow" :to="{name:'Home'}">
                                    خانه
                                </router-link>
                            </div>
                            <div class="column">
                                <router-link class="router text-shadow" :to="{name:'Services'}">
                                    خدمات
                                </router-link>

                            </div>
                            <div class="column">
                                <router-link class="router text-shadow" :to="{name:'Blog'}">
                                    بلاگ
                                </router-link>

                            </div>
                        </div>



                    </div>
                    <div class="col-4 col-md-4 col-xs-12 col-mx-auto  column text-center">
                        <router-link class="router text-shadow font-large" :to="{name:'Home'}">
                            {{main_information.title}}
                        </router-link>
                    </div>
                    <div class="col-4 col-md-4 col-xs-12 col-mx-auto  column text-center">
                        <div class="columns align-center">
                            <div class="column">
                                <router-link class="router text-shadow" :to="{name:'Appointment'}">
                                    رزرو وقت
                                </router-link>

                            </div>
                            <div class="column">
                                <router-link class="router text-shadow" :to="{name:'Gallery'}">
                                    گالری
                                </router-link>

                            </div>
                            <div class="column">
                                <router-link class="router text-shadow" :to="{name:'About'}">
                                    تماس با ما
                                </router-link>

                            </div>

                        </div>

<!--
                         <div  class="columns col-12 col-mx-auto contact-us-more">
                             <div class="column contact-us-more">
                                 <div class="columns">
                                     <div class="column col-8 col-sm-12">
                                         <div class="columns address">
                                             <div class="column col-12 ad-title ">
                                                 <span class="mdi mdi-phone ml-2"></span>
                                                 <a v-if="main_information.phone.length > 2" class="router text-shadow"
                                                    :href="information.phone_link" dir="ltr">
                                                     {{main_information.phone}}
                                                 </a>
                                                 <span v-if="main_information.mobile.length > 2"
                                                       class="mr-2 ml-2"> - </span>
                                                 <a v-if="main_information.mobile.length > 2" class="router text-shadow"
                                                    :href="information.mobile_link" dir="ltr">
                                                     {{main_information.mobile}}
                                                 </a>



                                             </div>
                                         </div>
                                         <div class="address columns">
                                             <div class="column col-12 ad-title">
                                                 <span class="mdi mdi-map-marker ml-2"></span>
                                                 <a class="router text-shadow" :href="information.address_link" dir="ltr">
                                                     {{main_information.address}}
                                                 </a>

                                             </div>


                                         </div>
                                     </div>
                                     <div class="column col-4 col-sm-12">
                                         <div class="address columns">
                                             <div class="column col-12 ad-title text-shadow">
                                                 <span class="mdi mdi-clock-outline ml-2"></span>
                                                 <span>
                                        {{main_information.time}}
                             </span>
                                             </div>
                                         </div>
                                         <div class="address columns">
                                             <div class="column col-12 ad-title">
                                                 <a class="router text-shadow ml-2" :href="main_information.instagram"
                                                    v-if="main_information.instagram.length > 2">
                                                     <span class="mdi mdi-instagram  social-icon"></span>
                                                 </a>
                                                 <a class="router text-shadow ml-2" :href="main_information.whatsapp"
                                                    v-if="main_information.whatsapp.length > 2">
                                                     <span class="mdi mdi-whatsapp social-icon "></span>
                                                 </a>
                                                 <a class="router text-shadow ml-2" :href="main_information.telegram"
                                                    v-if="main_information.telegram.length > 2">
                                                     <span class="mdi mdi-telegram social-icon "></span>
                                                 </a>
                                                 <a class="router text-shadow ml-2" :href="main_information.email_link"
                                                    v-if="main_information.email.length > 2">
                                                     <span class="mdi mdi-email social-icon "></span>
                                                 </a>
                                             </div>
                                         </div>
                                     </div>
                                 </div>


                             </div>


                         </div>-->
                    </div>
                </div>
                <hr>
                <div class="footer columns col-10 col-mx-auto col-md-12 col-xs-12 col-sm-12 col-lg-10 align-center  "
                     dir="rtl">
                     <div id="contact-us-more" class="columns col-12 col-mx-auto contact-us-more">
                            <div class="column contact-us-more">
                                <div class="columns">
                                    <div class="column col-8 col-sm-12">
                                        <div class="columns address">
                                            <div class="column col-12 ad-title ">
                                                <span class="mdi mdi-phone ml-2 text-shadow"></span>
                                                <a v-if="main_information.phone.length > 2" class="router text-shadow"
                                                   :href="information.phone_link" dir="ltr">
                                                    {{main_information.phone}}
                                                </a>
                                                <span v-if="main_information.mobile.length > 2"
                                                      class="mr-2 ml-2 text-shadow"> - </span>
                                                <a v-if="main_information.mobile.length > 2" class="router text-shadow"
                                                   :href="information.mobile_link" dir="ltr">
                                                    {{main_information.mobile}}
                                                </a>



                                            </div>
                                        </div>
                                        <div class="address columns">
                                            <div class="column col-12 ad-title">
                                                <span class="mdi mdi-map-marker ml-2 text-shadow"></span>
                                                <a class="router text-shadow" :href="information.address_link" dir="ltr">
                                                    {{main_information.address}}
                                                </a>

                                            </div>


                                        </div>
                                    </div>
                                    <div class="column col-4 col-sm-12">
                                        <div class="address columns">
                                            <div class="column col-12 ad-title text-shadow">
                                                <span class="mdi mdi-clock-outline ml-2"></span>
                                                <span>
                                       {{main_information.time}}
                            </span>
                                            </div>
                                        </div>
                                        <div class="address columns">
                                            <div class="column col-12 ad-title">
                                                <a class="router text-shadow ml-2" :href="main_information.instagram"
                                                   v-if="main_information.instagram.length > 2">
                                                    <span class="mdi mdi-instagram  social-icon"></span>
                                                </a>
                                                <a class="router text-shadow ml-2" :href="main_information.whatsapp_link"
                                                   v-if="main_information.whatsapp.length > 2">
                                                    <span class="mdi mdi-whatsapp social-icon "></span>
                                                </a>
                                                <a class="router text-shadow ml-2" :href="main_information.telegram"
                                                   v-if="main_information.telegram.length > 2">
                                                    <span class="mdi mdi-telegram social-icon "></span>
                                                </a>
                                                <a class="router text-shadow ml-2" :href="main_information.email_link"
                                                   v-if="main_information.email.length > 2">
                                                    <span class="mdi mdi-email social-icon "></span>
                                                </a>
                                                <a class="router text-shadow ml-2" :href="main_information.facebook"
                                                   v-if="main_information.facebook.length > 2">
                                                    <span class="mdi mdi-facebook social-icon "></span>
                                                </a>
                                                <a class="router text-shadow ml-2" :href="main_information.aparat"
                                                   v-if="main_information.aparat.length > 2">
                                                    <span class="mdi mdi-telegram social-icon "></span>
                                                </a>
                                                <a class="router text-shadow ml-2" :href="main_information.youtube"
                                                   v-if="main_information.youtube.length > 2">
                                                    <span class="mdi mdi-youtube social-icon "></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                </div>
            </div>
            <div class="menu-background-black" v-if="closeMenu" @click="toggleRightMenu(1)"></div>
            <div class="sidenav" ref="right-menu" dir="rtl">
                <div class="sidenav-box">
                    <div class="sidenav-title">
                        <router-link class="router text-shadow" :to="{name:'Home'}">
                            {{main_information.title}}
                        </router-link>
                    </div>
                    <div class="sidenav-subtitle">
                        <router-link class="router text-shadow" :to="{name:'Home'}">

                        </router-link>
                    </div>
                    <div class="sidenav-menu">
                        <div class="sidenav-menu-item">
                            <router-link class="router text-shadow" :to="{name:'Home'}">
                                خانه
                            </router-link>
                        </div>
                        <div class="sidenav-menu-item">
                            <router-link class="router text-shadow" :to="{name:'Services'}">

                                خدمات

                            </router-link>
                        </div>


                        <div class="sidenav-menu-item">
                            <router-link class="router text-shadow" :to="{name:'Blog'}">

                                بلاگ

                            </router-link>
                        </div>
                        <div class="sidenav-menu-item">
                            <router-link class="router text-shadow" :to="{name:'Appointment'}">

                                رزور وقت (به زودی)

                            </router-link>
                        </div>
                        <div class="sidenav-menu-item">
                            <router-link class="router text-shadow" :to="{name:'Gallery'}">

                                گالری

                            </router-link>
                        </div>
                        <div class="sidenav-menu-item">
                            <router-link class="router text-shadow" :to="{name:'About'}">

                                ارتباط با ما
                            </router-link>
                        </div>
                    </div>
                    <div class="sidenav-end-item">
                      <!--  <div class="sidenav-menu-item">
                            <span class="mdi mdi-phone  ml-2 text-shadow "></span>
                            <a v-if="main_information.phone.length > 2" class="router text-shadow" :href="information.phone_link"
                               dir="ltr">
                                {{main_information.phone}}
                            </a>

                            <div v-if="main_information.mobile.length > 2" class="mr-3 text-shadow">
                                <a class="router text-shadow" :href="information.mobile_link" dir="ltr">
                                    {{main_information.mobile}}
                                </a>
                            </div>
                            <div v-if="main_information.fax.length > 2" class="mr-3 text-shadow">
                                <a class="router" :href="information.mobile_link" dir="ltr">
                                    {{main_information.fax}}
                                </a>
                            </div>
                        </div>-->
                        <div class="sidenav-menu-item">
                            <span class="mdi mdi-map-marker  ml-2 text-shadow "></span>
                            <a class="router text-shadow" :href="information.address_link" dir="ltr">
                                {{main_information.address}}
                            </a>
                        </div>
                        <div class="sidenav-menu-item">
                            <span class="mdi mdi-clock-outline ml-2 text-shadow  "></span>
                            <span class="text-shadow">
                                       {{main_information.time}}
                            </span>
                        </div>
                        <div class="sidenav-menu-item">
                            <a class="router ml-2 text-shadow" :href="main_information.instagram"
                               v-if="main_information.instagram.length > 2">
                                <span class="mdi mdi-instagram social-icon "></span>
                            </a>
                            <a class="router ml-2 text-shadow" :href="main_information.whatsapp_link"
                               v-if="main_information.whatsapp.length > 2">
                                <span class="mdi mdi-whatsapp social-icon "></span>
                            </a>
                            <a class="router ml-2 text-shadow" :href="main_information.telegram"
                               v-if="main_information.telegram.length > 2">
                                <span class="mdi mdi-telegram social-icon "></span>
                            </a>
                            <a class="router ml-2 text-shadow" :href="main_information.email_link"
                               v-if="main_information.email.length > 2">
                                <span class="mdi mdi-email social-icon "></span>
                            </a>
                            <a class="router ml-2 text-shadow" :href="main_information.facebook"
                               v-if="main_information.facebook.length > 2">
                                <span class="mdi mdi-facebook social-icon "></span>
                            </a>
                            <a class="router ml-2 text-shadow" :href="main_information.youtube"
                               v-if="main_information.youtube.length > 2">
                                <span class="mdi mdi-youtube social-icon "></span>
                            </a>
                            <a class="router ml-2 text-shadow" :href="main_information.aparat"
                               v-if="main_information.aparat.length > 2">
                                <span class="mdi mdi-aparat social-icon "></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div v-else class="loadings">
            <img src="./assets/img/loading.gif" alt="" style="width: 150px">
        </div>


    </div>
</template>
<script>



    export default {
        name: 'App',
        metaInfo() {
            return {
                title: 'دکتر الهام سلیمی',
                meta: [
                    {charset: 'utf-8'},
                    {name: 'description', content: this.information.subtitle,},
                    {name: 'Keywords', content: 'الهام سلیمی,الهام,دکتر,روانشناس,شهرری,تهران,هیپنوتراپیست, دکتر الهام سلیمی,سلیمی,مرکز,مشاوره,پرواز,مرکز مشاوره پرواز, روانشناسی , مشاوره, هیپنوتیزم,elham,elham salimi,elhamsalimi,elhamsalimi.ir,psychologist,hypnosis'}
                ],

            }
        },
        data() {
            return {
                loading:true,
                accordionOpened: false,
                closeMenu: false,
                information: {}
            }
        },
        created() {
            this.init()
        },
        computed: {
            /* main_information(){
                 return this.$store.getters.getInformation
             },*/

            main_information() {
                return this.$store.getters.getInfo
            },
            footer() {
                return this.$store.getters.getFooter
            },
            menuRightOpened() {
                return this.$store.getters.getType
            },
            changeMenu() {
                return this.$store.state.new;
            },
        },

        methods: {
            init() {

                setTimeout(()=> {
                    this.closeMenu = false
                    if(this.$refs['right-menu']){
                        this.$refs['right-menu'].style.width = '0'
                    }
                }, 200)
                /*this.$api.getInfo().then(response => {

                    this.information = response.data.data.main

                    this.$store.commit('setInfo', this.information)
                    this.loading = false
                })
                    .catch(() => {
                    }).finally(() => {
                    this.loading = false
                })*/
              this.loading = false

            },
            openSubMenu() {
                if (!this.type) {
                    this.$refs['menu'].style.display = 'block'
                } else {
                    this.$refs['menu'].style.display = 'none'

                }
            },
            async logout(){
                try {

                    await this.$api.logout( localStorage.getItem('phone'))

                    this.$router.push({name:'Home'})


                }catch (e) {
                    console.log('e' , e)
                }

            },
            openAccordion() {
                this.accordionOpened = !this.accordionOpened
                /* if(this.accordionOpened){

                     this.$refs['accordion-menu'].style.display = 'block'
                 }else{
                     this.$refs['accordion-menu'].style.display = 'none'
                 }*/

            },
            toggleRightMenu(type) {
                this.accordionOpened = false
                if (type === 0) {
                    this.$refs['right-menu'].style.width = '80%'
                    this.$store.commit('activeType', true)
                    this.closeMenu = true

                    return
                }
                this.closeMenu = false
                this.$refs['right-menu'].style.width = '0'
                this.$store.commit('activeType', false)

            },

        },
        watch: {
            changeMenu() {
                if (!this.menuRightOpened) {
                    this.init()
                }
            },
        }
    }
</script>